@import "../../../config";

#hero {
  margin-top: $mob-nav-height;
  min-height: calc(100vh - $mob-nav-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-image: url("../../../media/images/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 150px;
  .hero-text-wrapper {
    margin-top: 1rem;
  }
  .hero-button {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    background-color: $primary-color;
    color: $light-color;
    margin: 0.5rem 0;
  }
}
