@import "../../../config";

#contacto {
  scroll-margin-top: $mob-nav-height;
  min-height: calc(100vh - $mob-nav-height);
  background-image: url("../../../media/images/stroke-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  .contact-title {
    text-align: center;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  .contact-question {
    font-size: 2rem;
    margin: 0 0.5rem;
  }
  .contact-text {
    margin: 1rem 0;
  }
  input,
  textarea {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid gray;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
  }
  .contact-button {
    padding: 0.7rem;
    background-color: $primary-color;
    font-size: 1.2rem;
    color: $light-color;
  }
  .contact-icons {
    margin: 1rem 0;
    font-size: 2.5rem;
    text-align: center;
    color: $primary-color;
    * {
      margin: 0 1rem;
    }
  }
}
