@import "../config";

.nosotros-page {
  margin-top: $mob-nav-height;
  li {
    font-size: 0.9rem;
  }
  .nosotros-page-photo-wrapper {
    text-align: center;
    margin: 1rem 0;
    .maria-page-image {
      border-radius: 200px;
      overflow: hidden;
      max-width: 90%;
    }
  }
}
