@import "../../config";

.navbar {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  top: 0;
  position: fixed;
  width: 100vw;
  min-height: $mob-nav-height;
  z-index: 1000;
  .nav-items {
    position: fixed;
    display: flex;
    transform: translateY(-100%);
    background-color: $primary-color;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    @include standardTransition(400ms);
    &.active {
      transform: translateY(0);
    }
  }
  ul {
    margin: auto;
  }
  li {
    list-style: none;
    font-size: $title-font;
    font-weight: 600;
    margin: 1.5rem 0;
  }
  .burger-button {
    font-size: 3rem;
    background: none;
    border: none;
    cursor: pointer;
    span {
      display: block;
      height: 3px;
      width: 26px;
      background-color: black;
      margin: 5px 0;
      border-radius: 10px;
    }
  }
  .nav-social {
    position: absolute;
    font-size: 2.5rem;
    color: $dark-font;
    bottom: 0;
    * {
      margin: 0 0.5rem;
    }
  }
}
