/* Variables */
$primary-color: rgb(76, 194, 194);
$secondary-color: rgb(185, 185, 255);
$light-color: white;
$mob-nav-height: 60px;
$standard-font: 1.5rem;
$title-font: 2.5rem;
$dark-font: black;

html {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

/* Standard Classes */

.container {
  padding: 0.5rem 1rem;
}

/* Mixins */

@mixin standardTransition($time) {
  transition: all $time ease-in-out;
}
